SolveIssue.json
{
  "Comment": "A Hello World example of the Amazon States Language using Pass states",
  "StartAt": "Hello",
  "States": {
    "Hello": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:010285592474:function:sendHttpRequest:$LATEST",
        "Payload.$": "$"
      },
      "ResultPath": "$.Hello",
      "Next": "Lambda Callback"
    },
    "Lambda Callback": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
        "Parameters": {
          "FunctionName": "arn:aws:lambda:us-east-1:010285592474:function:requiresApproval",
          "Payload": {
            "ExecutionContext.$": "$$",
            "Event.$": "$"
          }
        },
        "ResultPath": "$.Status",
        "Next": "ManualApprovalChoiceState"
    },
    "ManualApprovalChoiceState": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Status",
          "StringEquals": "Approved!",
          "Next": "ApprovedPassState"
        },
        {
          "Variable": "$.Status",
          "StringEquals": "Rejected!",
          "Next": "RejectedPassState"
        }
      ]
    },
    "ApprovedPassState": {
      "Type": "Succeed"
    },
    "RejectedPassState": {
      "Type": "Fail"
    }
  }
}