SolveIssue.json
{
  "Comment": "A Hello World example of the Amazon States Language using Pass states",
  "StartAt": "Hello",
  "States": {
    "Hello": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:010285592474:function:sendHttpRequest:$LATEST",
        "Payload.$": "$"
      },
      "Next": "Lambda Callback"
    },
    "Lambda Callback": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
        "Parameters": {
          "FunctionName": "arn:aws:lambda:us-east-1:010285592474:function:requiresApproval",
          "Payload": {
            "ExecutionContext.$": "$$",
            "$": "$"
          }
        },
        "Next": "World"
    },
    "World": {
      "Type": "Pass",
      "Result": "World",
      "End": true
    }
  }
}